<div class="resource-column border border-end">
  <div class="d-flex align-items-center px-2 border-bottom" style="height: 29.4px;">Resources</div>
  @for (resource of resources; let i = $index; track $index) {
  <div class="resource-row">
    <span class="resource-name">{{resource.name}}</span>
    <!--
    <button class="btn btn-sm btn-light" (click)="onSelectResource(resource)" data-bs-toggle="modal"
      [attr.data-bs-target]="'#exampleModal_' + i" title="New Task">
      <i class="bi bi-plus-lg"></i>
    </button>
    <div class="modal fade" [attr.id]="'exampleModal_' + i" tabindex="-1" data-bs-backdrop="static"
      data-bs-keyboard="false" [attr.aria-labelledby]="'exampleModalLabel_' + i" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" [attr.id]="'exampleModalLabel_' + i">Task ({{resource.name}})</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-task-manager [manageMode]="manageMode" [batches]="batches" [resources]="resources"
              [selectedResource]="selectedResource"></app-task-manager>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              (click)="onCloseModal()">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  }
</div>