<div class="gantt-scroll" #scrollHost>
  <svg [attr.width]="totalWidth" [attr.height]="totalHeight">

    <!-- Show horizontal line for each row -->
    @for (row of rowLayout; track $index; let r = $index) {
    <ng-container>
      <line x1="0" [attr.y1]="row.y" [attr.x2]="timeWidth" [attr.y2]="row.y" stroke="#d2d4d8" stroke-width="0.9" />
      <line x1="0" [attr.y1]="row.y + rowHeight" [attr.x2]="timeWidth" [attr.y2]="row.y + rowHeight" stroke="#d2d4d8"
        stroke-width="0.9" />
    </ng-container>
    }

    <!-- Show day wise vertical line -->
    @for (g of gridLineDays; track $index) {
    <ng-container>
      <line [attr.x1]="g.x" y1="0" [attr.x2]="g.x" [attr.y2]="totalHeight" stroke="#262626" stroke-width="1" />
      <text [attr.x]="g.x + 4" y="16" font-size="14" fill="#262626">{{ g.label }}</text>
    </ng-container>
    }

    <!-- Show hourly vertical line -->
    @if (showGridLineHours) {
    @for (h of gridLineHours; track $index) {
    <ng-container>
      <line [attr.x1]="h.x" y1="0" [attr.x2]="h.x" [attr.y2]="totalHeight" stroke="#d6d6d6" stroke-width="0.5" />
      @if (pxPerHour >= 8) { <text [attr.x]="h.x + 2" y="28" font-size="10" fill="#000">{{ h.label }}</text> }
    </ng-container>
    }
    }


    @if (todayX) {
    <line [attr.x1]="todayX" y1="0" [attr.x2]="todayX" [attr.y2]="totalHeight" stroke="#ef4444" stroke-width="1.5"
      stroke-dasharray="4 3" />
    }

    @for (t of taskLayout; track $index) {
    <g app-task [task]="t" [rowHeight]="rowHeight" (clickTask)="onClickTask($event)"
      (rightClickTask)="onRightClickTask($event)" (editTask)="onEditTask($event)" (deleteTask)="onDeleteTask($event)">
    </g>
    }

    @for (h of holidayLayout; track $index) {
    <g app-holiday [holiday]="h" [rowHeight]="rowHeight"></g>
    }


    @for (c of connectors; track $index) {
    <polyline class="connector" [attr.points]="c.points" fill="none" stroke="#6b7280" stroke-width="1.5"
      marker-end="url(#arrowhead)" />
    }
    <defs>
      <marker id="arrowhead" markerWidth="7.5" markerHeight="5.25" refX="6" refY="2.625" orient="auto">
        <polygon points="0 0, 7.5 2.625, 0 5.25" fill="#6b7280"></polygon>
      </marker>
    </defs>
  </svg>

</div>