<form [formGroup]="taskManagerForm">
  <div class="row g-2">

    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-name">Batch</span>
        <select class="form-select shadow-none" aria-label="Default select example" formControlName="batchId"
          (change)="onSelectBatch()">
          <option selected>Select a batch...</option>
          @for (batch of batches; track $index) {
          <option [value]="batch.batchId">{{batch.label}}</option>
          }
        </select>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-name">Task Name</span>
        <input type="text" class="form-control form-control-sm shadow-none" aria-label="task-name"
          formControlName="label" aria-describedby="task-name">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-start">Start</span>
        <input type="datetime-local" class="form-control shadow-none" aria-label="task-start"
          aria-describedby="task-start" formControlName="start">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-end">End</span>
        <input type="datetime-local" class="form-control shadow-none" aria-label="task-end" aria-describedby="task-end"
          formControlName="end">
      </div>
    </div>

    <div class="col-sm-12">Successor</div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-name">Resource</span>
        <select #resource class="form-select" aria-label="Default select example"
          (change)="onChangeResource(resource.value)">
          <option selected>Select a resource...</option>
          @for (resource of resources; track $index) {
          <option [value]="resource.resourceId">{{resource.name}}</option>
          }
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="successors-task">Tasks</span>
        <select title="Task" class="form-select shadow-none" multiple formControlName="successors" size="4">
          @for (task of tasksOfSelectedResource; track $index) {
          <option [value]="task.taskId">{{task.label}}</option>
          }
        </select>
      </div>
    </div>


  </div>

  <div class="d-flex mt-2">
    <button class="btn btn-sm btn-primary" (click)="onSubmit()">Save</button>
  </div>
</form>