<form [formGroup]="taskManagerForm">
  <div class="row g-2">

    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-name">Batch</span>
        <select class="form-select shadow-none"
          [ngClass]="{'is-invalid': taskManagerForm.get('batchId')?.touched && taskManagerForm.get('batchId')?.invalid}"
          aria-label="Default select example" formControlName="batchId" (change)="onSelectBatch()">
          <option selected>Select a batch...</option>
          @for (batch of batches; track $index) {
          <option [value]="batch.batchId">{{batch.label}}</option>
          }
        </select>

        <!-- @if (getFieldError('batchId')) {
        <div class="error-message"> {{ getFieldError('batchId') }} </div>
        } -->

      </div>
    </div>

    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-name">Task Name</span>
        <input type="text"
          [ngClass]="{'is-invalid': taskManagerForm.get('label')?.touched && taskManagerForm.get('label')?.invalid}"
          class="form-control form-control-sm shadow-none" aria-label="task-name" formControlName="label"
          aria-describedby="task-name">

        <!-- @if (getFieldError('label')) {
        <div class="error-message"> {{ getFieldError('label') }} </div>
        } -->

      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-start">Start</span>
        <input
          [ngClass]="{'is-invalid': taskManagerForm.get('start')?.touched && taskManagerForm.get('start')?.invalid}"
          type="datetime-local" class="form-control shadow-none" aria-label="task-start" aria-describedby="task-start"
          formControlName="start">

        <!-- @if (getFieldError('start')) {
        <div class="error-message"> {{ getFieldError('start') }} </div>
        } -->
      </div>
    </div>


    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-end">End</span>
        <input type="datetime-local"
          [ngClass]="{'is-invalid': taskManagerForm.get('end')?.touched && taskManagerForm.get('end')?.invalid}"
          class="form-control shadow-none" aria-label="task-end" aria-describedby="task-end" formControlName="end">
        <!-- @if (getFieldError('end')) {
        <div class="error-message"> {{ getFieldError('end') }} </div>
        } -->
      </div>
    </div>


    <div class="col-sm-12">Successor</div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="task-name">Resource</span>
        <select #resource class="form-select" aria-label="Default select example"
          (change)="onChangeResource(resource.value)">
          <option selected>Select a resource...</option>
          @for (resource of resources; track $index) {
          <option [value]="resource.resourceId">{{resource.name}}</option>
          }
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="successors-task">Tasks</span>
        <select title="Task" class="form-select shadow-none" multiple formControlName="successors" size="4">
          @for (task of tasksOfSelectedResource; track $index) {
          <option [value]="task.taskId">{{task.label}}</option>
          }
        </select>
      </div>
    </div>


  </div>

  <div class="d-flex mt-2">
    <!-- [disabled]="!taskManagerForm.valid" -->
    <button class="btn btn-sm btn-primary" (click)="onSubmit()">Save</button>
  </div>
</form>