<div class="row g-2">

  <div class="col-sm-12">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="task-name">Resource</span>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select a resource...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="task-name">Batch</span>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select a batch...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="task-name">Task Name</span>
      <input type="text" class="form-control form-control-sm shadow-none" aria-label="task-name"
        aria-describedby="task-name">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="task-start">Start</span>
      <input type="datetime-local" class="form-control shadow-none" aria-label="task-start"
        aria-describedby="task-start">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="task-end">End</span>
      <input type="datetime-local" class="form-control shadow-none" aria-label="task-end" aria-describedby="task-end">
    </div>
  </div>

  <div class="col-sm-12">Successor</div>

  <div class="col-sm-6">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="successors-machine">Resource</span>
      <select class="form-select shadow-none" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="successors-task">Task</span>
      <select class="form-select shadow-none" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>

<div class="d-flex mt-2">
  <button class="btn btn-sm btn-primary">Save</button>
</div>