<div class="d-flex gap-1 align-items-center fixed-top bg-light p-2 border border-bottom shadow-sm"
  style="height: 48px;">
  <div class="fs-5 fw-semibold font-monospace">MOS</div>
  <div class="flex-grow-1"></div>
  <button class="btn btn-sm btn-primary" (click)="zoomIn()" title="Zoom In">
    <i class="bi bi-zoom-in"></i>
  </button>
  <button class="btn btn-sm btn-primary" (click)="zoomOut()" title="Zoom Out">
    <i class="bi bi-zoom-out"></i>
  </button>
  <button class="btn btn-sm btn-primary" (click)="zoomReset()" title="Zoom Out">
    <i class="bi bi-x-diamond"></i>
  </button>

  <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
      class="bi bi-plus-lg me-2"></i>New Task</button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header p-2">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-2">
        <app-task-manager></app-task-manager>
      </div>
    </div>
  </div>
</div>