<svg>
  <rect class="batch-rect" [attr.x]="task.x" [attr.y]="task.y + 6" [attr.width]="task.w" [attr.height]="rowHeight - 12"
    [attr.fill]="task.backgroundColor || '#93c5fd'" rx="5" ry="5" (click)="onClick(task)">
  </rect>

  <text class="task-label" [attr.fill]="task.textColor" [attr.x]="task.x + 10" [attr.y]="task.y + rowHeight/2 + 4"
    (click)="onClick(task)">
    {{ task.label }}
  </text>

  <!-- Edit Icon -->
  <g (click)="onEditClick()" style="cursor:pointer;">
    <rect [attr.x]="task.x + task.w - 38" [attr.y]="task.y + (rowHeight/2 - 6)" width="16" height="16"
      fill="transparent" />
    <path [attr.transform]="'translate(' + (task.x + task.w - 38) + ',' + (task.y + (rowHeight/2 - 6)) + ')'"
      [attr.fill]="task.textColor"
      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10L3 14l.146-2.854 10-10zM11.207 2L4 9.207V11h1.793L13 3.793 11.207 2z" />
  </g>

  <!-- Delete Icon -->
  <g (click)="onDeleteClick()" style="cursor:pointer;">
    <rect [attr.x]="task.x + task.w - 18" [attr.y]="task.y + (rowHeight/2 - 6)" width="16" height="16"
      fill="transparent" />
    <path [attr.transform]="'translate(' + (task.x + task.w - 18) + ',' + (task.y + (rowHeight/2 - 6)) + ')'"
      [attr.fill]="task.textColor"
      d="M5.5 5.5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5.5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM11 5.5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5z" />
    <path [attr.transform]="'translate(' + (task.x + task.w - 18) + ',' + (task.y + (rowHeight/2 - 6)) + ')'"
      [attr.fill]="task.textColor" fill-rule="evenodd"
      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1 0-2H5V1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h2.5a1 1 0 0 1 1 1zM6 1v1h4V1H6z" />
  </g>
</svg>